# Platform Environment
PORT=8000
FASTAPI_ENV=production

# Apsara Hosting Database Configuration (us.apsara.lol:3306)
DB_HOST=us.apsara.lol
DB_PORT=3306
DB_USER=u3675_OE7fhJfpGq
DB_PASSWORD=w0zexag34.SHvroyiU@Z2Pie
DB_NAME=s3675_Rolea
DATABASE_URL=mysql+pymysql://u3675_OE7fhJfpGq:w0zexag34.SHvroyiU%40Z2Pie@us.apsara.lol:3306/s3675_Rolea


# Provider APIs
BAY2GAME_API_URL=https://api.bay2game.xyz/api
BAY2GAME_API_KEY=33CD2DC54F1C05AC9F0B1FF0

# Payment API
VNGZZ_API_URL=https://www.vngzz2game.site/api
VNGZZ_API_KEY=pwkCw4Sly7CIWLBLtajJP4LSZ7MC2k8O

# Telegram Alert Bot
TELEGRAM_BOT_TOKEN=8857921853:AAGiVy2vOFQ17GGXdlxBPvft60vKIR7kx64
TELEGRAM_CHAT_ID=8710759437

# AI Chat API (laalaa.me)
AI_CHAT_API_URL=https://api.laalaa.me
AI_CHAT_API_KEY=
